<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content= "text/package+html; charset=UTF-8"
  <title>Knead</title>
  <meta name="author" content="Collin Miller">
  <meta name="version" content="<%= KNEAD_VERSION %>">
  <meta name="description" content="
    a drag and drop library ( because you push and pull on things )
  ">

  <link rel="dependency" type="text/spade+javascript" 
    href="http://spader.herokuapp.com/spades/jquery-1.7.2.js">

  <link rel="development-dependency" type="text/spade+javascript"
    href="http://spader.herokuapp.com/minispade.js">

  <link rel="self" type="text/spade+javascript" 
    href="http://cloud.github.com/downloads/collin/pathology/pathology-<%= KNEAD_VERSION %>-spade.js">
</head>
<body>

  <h1> knead </h1>

  <p>
   a drag and drop library ( because you push and pull on things )
  </p>

  <a href="//github.com/collin/knead">Fork it on Github</a>

  <section id="authors">
    <h1>Authors</h1>
    <a href="mailto:collintmiller@gmail.com">Collin Miller</a>
  </section>

</body>
</html>